<div id="header">
  <img src="/imagenes/logo.jpg" alt="logo de rick y morty" class="logo" />
  <div class="header-links">
    <ul>
      <li class="hide"><a href="https://github.com/EzequielRindello/proyecto-final" target="_blank">Repositorio</a></li>
      <li><a href="https://rickandmortyapi.com/" target="_blank">API</a></li></li>
      <li><a id="desktop-call-to-action" href="/src/favoritos/favoritos.html"><span>Favoritos</span></a></li>
      <li><a id="movile-call-to-action" href="/src/favoritos/favoritos.html"><span><i class="bi bi-star-fill"></i></span></a></li>
    </ul>
  </div>
</div>
