<div id="header">
  <img src="/imagenes/logo.png" alt="logo de rick y morty" class="logo" />
  <div class="header-links">
    <ul>
      <li><a href="https://github.com/EzequielRindello/proyecto-final">Repositorio</a></li>
      <li><a href="https://rickandmortyapi.com/">API</a></li></li>
      <li><a id="desktop-call-to-action" href="#"><span>Favoritos</span></a></li>
      <li><a id="movile-call-to-action" href="#"><span><i class="bi bi-star-fill"></i></span></a></li>
    </ul>
  </div>
</div>
